.youtube-player {
  position: relative;
  display: block;
  width: 100%;
  padding-bottom: 50%;

  iframe {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
  }
}