.youtube-player {
  position: relative;
  display: block;
  width: 100%;
}

.plyr {
  border-radius: 12px;
}

.plyr__control--overlaid {
  transform: translate(-50%, -50%) scale(2);
  background: #ff1961;
}

.plyr--video .plyr__control.plyr__tab-focus, .plyr--video .plyr__control:hover, .plyr--video .plyr__control[aria-expanded=true] {
  background: #ff1961;
}

.plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 5px rgba(#ff1961,0.5);
  outline: 0;
}