<footer class="app-footer">
    <div class="app-footer__content">
        <div class="app-footer__row">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <p> &copy; Copyright 2018 by Kret Team. All rights reserved</p>
                    </div>
                    <div class="col-sm-6 text-right">
                        <p class="frontcode-signature">
                            <span class="frontcode-signature__text">Made with <i class="frontcode-signature__icon || l-icon l-icon--heart"></i> by</span>
                            <a href="//frontcode.pl" class="frontcode-signature__link">
                                <img src="assets/images/frontcode-light.svg" class="frontcode-signature__logo"  alt="frontcode">
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>