{% import "_components/components.njk" as components %}
{% set page = 'HOME' %}
{% set title = 'Starter - strona główna' %}
{% extends "_layouts/default.njk" %}
{% block content %}

    <article class="app-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-content">
                        <section class="custom-title custom-title--center">
                            <div class="custom-title__content">
                                <h1 class="custom-title__heading">Poniżej znajduje się lista zadań</h1>
                                <p class="custom-title__subheading">Wybierz jedno z nich</p>
                            </div>
                        </section>


                    </div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}
