{% import "_components/components.njk" as components %}
{% set page = 'HOME' %}
{% set title = 'Starter - strona główna' %}
{% extends "_layouts/default.njk" %}
{% block content %}

    <article class="app-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-content">
                        <section class="custom-title custom-title--center">
                            <div class="custom-title__content">
                                <h1 class="custom-title__heading">Poniżej znajduje się lista zadań</h1>
                                <p class="custom-title__subheading">Wybierz jedno z nich</p>
                            </div>
                        </section>

                        <section class="separator separator--small || app-component">
                            <hr>
                        </section>

                        <section class="games-list || app-component">
                            <div class="games-list__content">
                                <ul class="games-list__items">
                                    <li class="games-list__item">
                                        <a href="./play-stop.html" class="game-link">
                                            <div class="game-link__content">
                                                <p class="game-link__name">Play & Stop</p>
                                                <p class="game-link__description">Po ustalonym czasie film zatrzymuje się a zadaniem jest kontynuowanie jego odtwarzania poprzez odpowiednio długie wskazanie przycisku "play"</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </article>

{% endblock %}
