{% import "_components/components.njk" as components %}
{% set page = 'PLAY_STOP' %}
{% set title = 'Kret - play-stop' %}
{% extends "_layouts/default.njk" %}
{% block content %}

<div id="plansza">
    <div id="parametry">
        <div>Parametr - częstotliwość</div>
        <input type-"text" id="timeout"/>
    </div>
<iframe width="983" height="553" src="https://www.youtube.com/embed/KhGNOJg-1s4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
{% endblock %}